---
apiVersion: v1
kind: StatefulSet
metadata:
  name: '{{ meta.name }}'
  namespace: '{{ meta.namespace }}'
  labels:
    app: mariadb
spec:
  selector:
    matchLabels:
      app: mariadb
  serviceName: '{{ meta.name }}'
  replicas: 1
  updateStrategy:
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: mariadb
    spec:
      containers:
        - image: '{{ mariadb_image }}'
          name: mariadb
          env:
            - name: MYSQL_DATABASE
              value: db
            - name: MYSQL_USER
              value: db_user
            - name: MYSQL_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: '{{ meta.name }}-pass'
                  key: password
            - name: MYSQL_RANDOM_ROOT_PASSWORD
              value: 'true'
          # resources:
          #   limits:
          #     cpu: "2"
          #     memory: 2048Mi
          #   requests:
          #     cpu: "500m"
          #     memory: 512Mi
          ports:
            - containerPort: 3306
              name: mariadb
          volumeMounts:
            - name: mariadb
              mountPath: /var/lib/mysql
              subPath: mysql
  volumeClaimTemplates:
    - metadata:
        name: mariadb
      spec:
        accessModes:
          - ReadWriteOnce
        resources:
          requests:
            storage: '{{ mariadb_pvc_storage_request }}'
