---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: '{{ meta.name }}-claim'
  namespace: '{{ meta.namespace }}'
  labels:
    app: mariadb
    managed-by: ansible
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: '{{ mariadb_pvc_storage_request }}'
